*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



.container{
    width: 77%;
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.menu a:hover{
    text-decoration: underline;
    color: #469165;
}

.banner-tagline:hover{
    background-color: #30B868;
    cursor: pointer;
}

.btn:hover{
    background-color: #3c8b47ab;
}

.btn-secondary:hover{
    border:1px solid #30B868;
    color: #30B868;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

#banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:180px;
    min-height: calc(100vh - 92px);
}

.banner-content{
    width: 77%;
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.banner-tagline{
    width: 229px;
    text-align: center;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 100px;
    padding: 8px 12px;
}

.banner-title{
    /* width: 770px; */
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    font-size: 72px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 16px;
}

.title-highlight{
    color: #30B868;
}

.banner-description{
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 16px;
}

.banner-actions{
    display: flex;             
    justify-content: center;     
    align-items: center;         
    gap: 16px;                   
    margin-top: 32px;
}

.btn-primary{
    background-color: #469165;
    border: none;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-secondary{
    background: none;
    border: 1px solid #FFFFFF;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

#problems{
    padding-top: 80px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 52px;
    color: #001931;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 16px;
    margin-bottom: 44px;
    line-height: 20px;
    color: #627382;
}


.box-card{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.card-item{
    max-width: 322px;
    height: 300px;
    border: 1px solid #FFFFFF;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 #00000027;
    background-color: rgba(255, 255, 255, 1);
}

.card-item .icon-box{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}

.icon-box img{
    width: 32px;
    height: 32px;
}

.card-item h3{
    font-size: 24px;
    font-weight: 500;
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-item p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#solution{
    /* padding-top: 120px */

    background-color: #FFFFFF;
}

.solution-section{
    display: flex;
    /* align-items: center; */
    gap: 60px;
    padding-top: 120px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 120px;
}

.solution-content{
    margin: 102px 0;
}

.solution-text .solution-label{
    font-size: 16px;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
}

.solution-content h2{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.solution-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.feature-item{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

.feature-item img{
    min-width: 20px;
    height: 20px;
}

.feature-item p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}

.access-container{
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
    margin-bottom: 120px;
}

.access-title{
    font-size: 40px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.access-description{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.access-note{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

.footer-section{
    background-color: #001931;
    padding: 120px 120px 30px;
}


.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-social{
    width: 220px;
}

.footer-heading{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-list{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.social-item{
    list-style: none;
}

.social-item:hover{
    background-color: #30b86942;
}

.footer-divider{
    border: none;
    height: 1px;
    background-color: #627382;
    margin-bottom: 30px;
}

.footer-bottom{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
}

